body {
  background-color: black;
}

#scrolly{
	color: white;

}

#channel{
	text-align: center;
}


#title {
	text-align: center;
	color: white;
	font-family: 'Roboto';
}

footer{
	text-align: center;
}