body {
  background-color: black;
  font-family: 'Roboto';
  color: white;
}

p{
	text-align: center;
}

#scrolly{
	color: white;
	font-size: 500%;

}

#channel{
	text-align: center;
}


#title {
	text-align: center;
	color: white;
	font-family: 'Roboto';
	font-size: 800%;

}

#ytimg{
	max-width: 50%;
	text-align: center;

	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	transition: 0.5s;
}

#ytimg:hover{
	max-width: 60%;
	transition: 0.5s;
}

#musicimg{
	max-width: 50%;
	text-align: center;

	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#steamimg{

	max-width: 40%;
	text-align: center;

	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

footer{
	text-align: center;
}