body {
  background-color: black;
  font-family: 'Roboto';
}

#scrolly{
	color: white;

}

#channel{
	text-align: center;
}


#title {
	text-align: center;
	color: white;
	font-family: 'Roboto';
	font-size: 100%;

}

footer{
	text-align: center;
}